<div class="container">
  <%= line_chart @amount_by_day %>
  <%= column_chart @amount_by_day %>

  <%= line_chart @amount_by_week %>
  <%= column_chart @amount_by_week %>

  <%= column_chart @amount_by_month %>
  <%= line_chart @amount_by_month %>
</div>
