<div class="container">
  <h2><%= @transaction.status %></h2>
    <p><%= @transaction.id %></p>
    <p><%= @transaction.timestamp %></p>
    <p><%= @transaction.status %></p>
    <p><%= @transaction.customer_name %></p>
    <p><%= @transaction.reference %></p>
    <p><%= link_to "All Transaction", transaction_path%></p>
</div>
