 <div class="container my-3">
    <div class="cardtransaction mx-auto">
      <div class="card-body">
      <div class="d-flex flex-column">
        <div class="p-2 d-flex flex-row-reverse justify-content-between">
          <div>
            <%= image_tag "vectorlogo.svg", id:"image"%>
          </div>
          <div>
           <h1>#<%=@transaction.id%></h1>
          </div>
        </div>
      </div>
        <div class="text-center">
              <% if @transaction.status == "successful" %>
                <i class="fa-regular fa-circle-check ishow"></i>
                <h5>You have received</h5>
                <h3><%= humanized_money_with_symbol(@transaction.price)%></h3>
                  <h5>from <%= @transaction.customer_name%></h5>
                  <h5>on <%= @transaction.timestamp.strftime("%b %e %y,") %></h5>
                  <h5>at <%= @transaction.timestamp.strftime("%l:%M %p") %></h5>

              <% else %>
                <h1 class="mb-0 text-danger"><i class="fa-solid fa-xmark ishow"></i></h1>
                <h3>The transaction has failed</h3>
              <% end %>
            </div>
            </div>
          <div class="d-flex-row justify-content-end">
              <%= link_to "/transactions" do %>
              <i class="fa-solid fa-arrow-left arrow"></i>
              <% end %>
          </div>
    </div>
  </div>
</div>
